<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="IntervaloDeTempoParaExecucao" value="6000"/>
    <add key="ExecucaoPeriodoInicial" value="07:00:00"/>
    <add key="ExecucaoPeriodoFinal" value="23:00:00"/>
    <add key="TempoEmHorasAnteriorAConsultaParaEnvioDeSms" value="12"/>
    
  </appSettings>
</configuration>